@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Saira:wght@100&display=swap');
:root {
--heading-font: Bangers;
--paragraph-font: Saira, Helvetica, sans-serif;}

#content {
    
    max-width: 1600px;
    margin:  0 auto;
}

#logo_link {
    
    padding-top: 5px;
}

nav {
    font-family: var(--paragraph-font);
    text-align: center;
    color: #1c59ff;
    text-decoration: none;
    padding: 35px;
}

a {font-family: var(--paragraph-font);
    text-align: center;
    color: #1c59ff;
    text-decoration: none;
    padding: 35px;}

#hero-msg h1 {
    
    font-family: var(--heading-font);
    text-align: center;
}

#hero-msg h4 {
    font-family: var(--paragraph-font);
    text-align: center;
}

.button-box {
    font-family: var(--paragraph-font);
    text-align: center;
}

main section {
    font-family: var(--paragraph-font);
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
    background-color: #ffd500;
    
}

body {
    background-color: #FFFFFF;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffd500;
}

nav a:hover {
    background-color: #1c59ff;
    color: black;
}

.home-title {
    font-size: 2em;
    color: black;
    margin-top: 10px;
}

h4 {
    color: black;
}

.book {
    
    font-family: var(--paragraph-font);
    font-size: 18px;
    background-color: #1c59ff;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.card-img  {
    border: 10px solid #ffd500;
}

.rivers-card {
    margin:  200px 0;
    
}

.camping-card {
    margin: 200px 0;
    
}

.rapids-card {
    margin:  200px 0;
    
}

.join {

    font-size: .8em;
    background-color: #ffd500;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #ffd500;
    color: black;
}

.join:hover {
    background-color: #ffd500;
    color: black;
}

.msg {
    font-family: var(--paragraph-font);
    line-height: 1.5em;
    background-color: #1c59ff;
    padding-bottom: 35px;
    
}

h2 {
    margin: 0;
}

.msg h2 {
    font-family: var(--heading-font);
    color: black;
}

.msg p {
    color: black;
    padding-bottom: 15px;
}

footer {
    background-color: #1c59ff;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    font-family: var(--paragraph-font);
    background-color: #1c59ff;
    color: black;
    text-decoration: none;
}

footer a {
    font-family: var(--paragraph-font);
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

icon {
    width: 80px
}

footer .social img {
    padding-top: 15px;
}

