@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Work+Sans:wght@200&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #FFFFFF   ;
    --secondary-color: #000000 ;
    --accent1-color: #e40a27;
    --accent2-color: #6a6a6a;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Kdam Thmor Pro";
    --paragraph-font: "Work Sans", Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #000000;  /* headlines on a white background */ 
    --headline-color-on-color: #FFFFFF; /* headlines on a colored background */ 
    --paragraph-color-on-white: #6a6a6a; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #e40a27  ;
    --nav-link-color: #000000;
    --nav-background-color: #e40a27;
    --nav-hover-link-color: #6a6a6a;
    --nav-hover-background-color: #000000;
  }

#content {
    
    max-width: 1600px;
    margin:  0 auto;
}

header {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 400px;
    background-color: #e40a27;
}

#logo_link {
    justify-self: top;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: var(--heading-font);
    color: #000000;
    text-decoration: none;
    padding: 35px;
    grid-column: 1/5;
    grid-row: 3;
}

nav a:hover {
    background-color: #6a6a6a;
    color: #FFFFFF;
}

.home-grid {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 30px;
    grid-template-rows: 1fr 1fr 1fr;
}

.training-card {
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 30px;
}

training-msg {
    grid-column: 3/4;
    grid-row: 1/2;
    font-family: var(--paragraph-font);
    font-size: x-large;
    margin-top: 30px;
    margin-right: 100px;
}

.vegas-card {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-top: 30px;
    margin-right: 100px;
}

vegas-msg {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: var(--paragraph-font);
    font-size: x-large;
    margin: 30px;
}

.goalie-card {
    grid-column: 2/3;
    grid-row: 3/4;
    margin: 30px;
}

goalie-msg {
    grid-column: 3/4;
    grid-row: 3/4;
    font-family: var(--paragraph-font);
    font-size: x-large;
    margin-top: 30px;
    margin-right: 100px;
}

a {
    font-family: var(--paragraph-font);
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: 35px;}

.clinics-grid {
    display: grid;
    grid-template-columns: 30px 1fr 1fr 1fr 30px;
    grid-template-rows: 50px 350px 350px 175px;
}

bambi-big {
    font-family: var(--heading-font);
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: larger;
    text-align: center;
}

.bambis-card {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: small;
    margin: auto;
}

mites-big {
    font-family: var(--heading-font);
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: larger;
    text-align: center;
}

.mites-card {
    grid-column: 3/4;
    grid-row: 2/3;
    font-size: small;
    margin: auto;
}

astronauts-big {
    font-family: var(--heading-font);
    grid-column: 4/5;
    grid-row: 1/2;
    font-size: large;
    text-align: center;
}

.astronauts-card {
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: small;
    margin: auto;
}

.private-card {
    grid-column: 2/4;
    grid-row: 4/5;
    font-family: var(--paragraph-font);
    font-size: small;
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

footer {
    background-color: #e40a27;
    padding: 25px 50px;
    margin-top: 200px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

footer h3 {
    font-family: var(--paragraph-font);
    background-color: #e40a27;
    color: black;
    text-decoration: none;
}

footer a {
    font-family: var(--paragraph-font);
    color: black;
    justify-content:space-between;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

icon {
    width: 80px
}

footer .social img {
    padding-top: 15px;
}